<breadcrumb path-and-func="self.breadcrumb"></breadcrumb>

<div class="row">
  <!-- column -->
  <div class="col-sm-12">
      <div class="card">
          <div class="card-block">
              <div class="table-responsive">


<!--============================ SUMMARY =============================-->


                  <table class="table" ng-if="self.curView === self.listView.summary">
                      <thead>
                          <tr>
                              <th>Create</th>
                              <th>Desc</th>
                              <th>Frequency</th>
                              <th>IdAgent</th>
                              <th>IP</th>
                              <th>Name</th>
                              <th>Port</th>
                              <th>Status</th>
                              <th>Token</th>
                              <th>Type</th>
                              <th>Update</th>
                              <th>Watching</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                             <td ng-bind="self.data.createdAt | date:'yyyy-MM-dd HH:mm:ss'"></td> 
                             <td ng-bind="self.data.description"></td> 
                             <td ng-bind="self.data.frequency"></td> 
                             <td ng-bind="self.data.idAgent"></td> 
                             <td ng-bind="self.data.ip"></td> 
                             <td ng-bind="self.data.name"></td> 
                             <td ng-bind="self.data.port"></td> 
                             <td ng-bind="self.data.status"></td> 
                             <td ng-bind="self.data.token"></td> 
                             <td ng-bind="self.data.type"></td> 
                             <td ng-bind="self.data.updatedAt | date:'yyyy-MM-dd HH:mm:ss'"></td> 
                             <td ng-bind="self.data.watching"></td> 
                          </tr>
                      </tbody>
                  </table>


<!--======================== OS ==========================-->


                  <table class="table" ng-if="self.curView === self.listView.os">
                    <thead>
                        <tr>
                            <th>Arch</th>
                            <th>CodeName</th>
                            <th>Distro</th>
                            <th>Hostname</th>
                            <th>Kernel</th>
                            <th>Logofile</th>
                            <th>Platform</th>
                            <th>Release</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-bind="self.data.agent_infos[0].os.arch"></td>
                            <td ng-bind="self.data.agent_infos[0].os.codename"></td>
                            <td ng-bind="self.data.agent_infos[0].os.distro"></td>
                            <td ng-bind="self.data.agent_infos[0].os.hostname"></td>
                            <td ng-bind="self.data.agent_infos[0].os.kernel"></td>
                            <td ng-bind="self.data.agent_infos[0].os.logofile"></td>
                            <td ng-bind="self.data.agent_infos[0].os.platform"></td>
                            <td ng-bind="self.data.agent_infos[0].os.release"></td>
                        </tr>
                    </tbody>
                </table>


<!--======================== VERSION ==========================-->


                <table class="table" ng-if="self.curView === self.listView.version">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Version</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in self.keys(self.data.agent_infos[0].versions) track by $index">
                            <td ng-bind="i"></td>
                            <td ng-bind="self.data.agent_infos[0].versions[i]"></td>
                        </tr>
                    </tbody>
                </table>

              </div>
          </div>
      </div>
  </div>
</div>
