<breadcrumb></breadcrumb>

<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Server</th>
                                <th>Domain</th>
                                <th>Time</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(i, server) in self.allServer track by $index">
                                <td ng-bind="i + 1"></td>
                                <td ng-bind="server.serverName"></td>
                                <td ng-bind="server.fields[0].domain"></td>
                                <td ng-bind="server.fields[0].time"></td>
                                <td>
                                    <a 
                                        class="btn hidden-sm-down btn-success" 
                                        style="cursor:pointer; color: white;"
                                        data-toggle="modal"
                                        data-target="#__process_show_list_process"
                                        ng-click="self.chooseServer(server)"
                                        >Processes Detail
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal  -->
<div class="modal fade" id="__process_show_list_process" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 
                 class="modal-title" 
                 style="color:#55ce63" 
                 ng-bind="'Server: ' + self.curServer.serverName"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Command</th>
                                                <th>Count</th>
                                                <th>CPU</th>
                                                <th>Memory</th>
                                                <th>Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(i, server) in self.curServer.fields track by $index">
                                                <td ng-bind="i + 1"></td>
                                                <td ng-bind="server.command"></td>
                                                <td ng-bind="server.count"></td>
                                                <td ng-bind="self.round(server.cpu)"></td>
                                                <td ng-bind="self.round(server.memory)"></td>
                                                <td ng-bind="server.time"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
        </div>

    </div>
</div>