<aside class="left-sidebar" style="padding:0">
    <header class="topbar">
        <nav 
         class="navbar top-navbar navbar-toggleable-sm navbar-light" 
         style="background-color:white;vertical-align: middle;">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-header" style="border-bottom: 2px solid #9999;">
                <a class="navbar-brand" href="index.html">                    
                    <!-- <b>
                        <img src="./logo-icon.png" alt="homepage" class="dark-logo" />
                    </b>
                    <span>
                        <img src="./logo-text.png" alt="homepage" class="dark-logo" />
                    </span> -->

                    <h2 style="color:#55ce63">WI-MONITOR</h2>
                </a>
            </div>
        </nav>
    </header>
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" style="padding-top:0 ">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a ui-sref="api" class="waves-effect"><i class="fa fa-wifi m-r-10" aria-hidden="true"></i>API</a>
                </li>
                <li>
                    <a ui-sref="cpu" class="waves-effect"><i class="fa fa-hdd-o m-r-10" aria-hidden="true"></i>CPU</a>
                </li>
                <li>
                    <a ui-sref="memory" class="waves-effect"><i class="fa fa-microchip m-r-10" aria-hidden="true"></i>Memory</a>
                </li>
                <li>
                    <a ui-sref="process" class="waves-effect"><i class="fa fa-clone m-r-10" aria-hidden="true"></i>Process</a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>